<template>
  <div id="balita-list">
    <v-card tile flat>
      <v-toolbar flat>
        <v-toolbar-title>Hasil Perangkingan</v-toolbar-title>
        <v-spacer/>
        <v-text-field
          v-model="keyword"
          hide-details
          hide-default-footer
          flat
          placeholder="Keyword pencarian berdasarkan nama pasien dan nama penyakit."
          prepend-icon="mdi-magnify"
        />
      </v-toolbar>
      <v-data-table
        :headers="headers"
        :items="filtered"
        :total-items="filtered.length"
        hide-default-footer
      >
        <template v-slot:item.sex="{ item }">
          {{ item.sex == 'PEREMPUAN' ? 'Perempuan' : 'Laki - Laki' }}
        </template>

        <template v-slot:item.v="{ item }">
          {{ item.v.toFixed(3) }}
        </template>

      </v-data-table>
    </v-card>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { apiRank } from '@/services/rank';

type IData = {
  headers: any[];
  items: any[];
  keyword: string;
}

const defData = () => ({

  headers: [
    {
      text: 'ID',
      value: 'id'
    },
    {
      text: 'Nama',
      value: 'nama'
    },
    {
      text: 'Umur',
      value: 'age'
    },
    {
      text: 'Berat Badan',
      value: 'beratBadan'
    },
    {
      text: 'Tinggi Badan',
      value: 'tinggiBadan'
    },
    {
      text: 'Jenis Kelamin',
      value: 'sex'
    },
    {
      text: 'V',
      value: 'v'
    }
  ],
  items: [],
  keyword: ''
});

export default Vue.extend({

  data: defData,

  computed: {
    filtered () {
      const keywordUpper = this.keyword.toUpperCase();
      return this.items.filter(it => {
        return it.nama.toUpperCase().includes(keywordUpper);
      });
    }
  },

  methods: {

    async loadRank() {
      this.items = await apiRank();
    }

  },

  mounted() {
    this.loadRank();
  }

});

</script>

<style lang="scss">
  #balita-list {
    margin-top: 20px;
  }
</style>