<template>
  <v-dialog :value="true" width=500>
    <v-card>
      <v-card-text>
        <v-text-field
          v-model="item.nama"
          label="Nama"
        />
        <v-text-field
          v-model="item.tanggalLahir"
          type="date"
          label="Tanggal Lahir"
        />
        <v-text-field
          v-model.number="item.beratBadan"
          type="number"
          label="Berat Badan"
        />
        <v-text-field
          v-model.number="item.tinggiBadan"
          type="number"
          label="Tinggi Badan"
        />
      </v-card-text>
      <v-card-actions>
        <v-btn text @click="onSave">
          Simpan
        </v-btn>
        <v-btn text @click="$router.back()">
          Batal
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from 'vue';
import { apiCreateBalita } from '@/services/balita';

type IData = {
  item: {
    nama: string;
    tanggalLahir: string;
    beratBadan: number;
    tinggiBadan: number;
    woman: boolean;
  }
};

const defData = () => ({
  item: {
    nama: '',
    tanggalLahir: '',
    beratBadan: 0,
    tinggiBadan: 0,
    woman: true
  }
});

export default Vue.extend({
  data: defData,

  methods: {

    async onSave() {
      const payload = {
        ...this.item,
        sex: this.item.woman ? 'PEREMPUAN' : 'LAKI_LAKI'
      };
      try {
        await apiCreateBalita(payload);
        alert('Sukses menambah data balita');
      } catch (err) {
        alert('Gagal menambah data balita');
        console.log(err);
      } finally {
        this.$router.back();
      }

    }

  }
});
</script>